<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Fixed top navbar example for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbar-fixed/">

    <!-- Bootstrap core CSS -->
<!--    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="navbar-top-fixed.css" rel="stylesheet">
    <!-- Custom styles for this template -->
<!--    <link href="navbar-top-fixed.css" rel="stylesheet">-->
      <script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-firestore.js"></script>

<script type="text/javascript">
	var firebaseConfig = {
  		apiKey: "KmA3IPZjdcV6gn0wHF1t0DSJGSg9iAexvJl8HMow",
  		authDomain: "smart-audi.firebaseio.com",
  		databaseURL: "https://smart-audi.firebaseio.com/",
  		projectId: "smart-audi",
  		storageBucket: "smart-audi.appspot.com",
  		messagingSenderId: "246323352532"
	};
	firebase.initializeApp(firebaseConfig);
	var ref = firebase.database().ref();
	ref.on("value", function(snapshot){
		var LOCALFILE = snapshot.val();
		init(LOCALFILE);
		fillseats(LOCALFILE);
	});
	function init(LOCALFILE)
	{
		var x = LOCALFILE.x_num;
		var y = LOCALFILE.y_num;
		var i;
		var j;
		var map = document.createElement("div");
		map.className = "map";
		document.body.appendChild(map);
		for(i=1;i<=x;i++)
		{
			var row = document.createElement("div");
			row.className = "seat-row";
			row.id = i.toString();
			map.appendChild(row);
			for(j=1;j<=y;j++)
			{
				var seat = document.createElement("div");
				seat.className = "seat-empty";
				seat.id = i.toString()+"-"+j.toString();
				row.appendChild(seat);
			}
		}
	}
	function fillseats(LOCALFILE)
	{
		var seat_data = LOCALFILE;
		var seat_info = seat_data.seats;
		Object.keys(seat_info).forEach(
			function(k)
			{
				var seat_id = k;
				var x_coor = seat_info[k].x;
				var y_coor = seat_info[k].y;
    			var seat = document.getElementById(x_coor.toString()+"-"+y_coor.toString());
    			seat.className = "seat-present";
    			seat.title = k;
    			if(seat_info[k].seated == true)
    			{
    				seat.className = "seat-occupied";
    			}
    			if(seat_info[k].emergency == true)
    			{
    				seat.className = "seat-emergency";
    			}
			}
		);
	}
</script>
  </head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">BULT Smart Seating</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
<!--          <li class="nav-item active">-->
            <li class="nav-item">
            <a class="nav-link" href="/home/">Home </a>
<!--              <span class="sr-only">(current)</span>-->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Seating</a>
          </li>
        </ul>
<!--        <form class="form-inline mt-2 mt-md-0">-->
<!--          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
<!--          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--        </form>-->
      </div>
    </nav><br><br><br><br>

<!--<style type="text/css">-->
<!--		.seat-empty{-->
<!--			display: inline-block;-->
<!--			height: 40px;-->
<!--			width: 40px;-->
<!--			background-size:80% 80%;-->
<!--		}-->
<!--		.seat-present{-->
<!--			display: inline-block;-->
<!--			background: url({% static 'images/seat_empty.png' %}) no-repeat;-->
<!--			height: 40px;-->
<!--			width: 40px;-->
<!--			background-size:80% 80%;-->
<!--		}-->
<!--		.seat-occupied{-->
<!--			display: inline-block;-->
<!--			background: url({% static 'images/seat_occupied.png' %}) no-repeat;-->
<!--			height: 40px;-->
<!--			width: 40px;-->
<!--			background-size:80% 80%;-->
<!--		}-->
<!--		.seat-emergency{-->
<!--			display: inline-block;-->
<!--			background: url({% static 'images/seat_emergency.png' %}) no-repeat;-->
<!--			height: 40px;-->
<!--			width: 40px;-->
<!--			background-size:80% 80%;-->
<!--		}-->
<!--	</style>-->
<!--<div class="embed-responsive embed-responsive-16by9">-->
<!--    <div style="position:relative; top: 160px; left: 0px;"></div>-->
    <div class="col-8">
          <h2 class="mt-2">Seat -&nbsp;Map</h2>
<!--          <hr class="mt-0 mb-4">-->
<br>
</div>
<iframe class="embed-responsive-item" src="/home/seatmap" height="170" width="200" style="border:2px solid;top: 1600px; left: 0px;"></iframe>
<!--</div>-->
</body>
</html>